.col{
    background-color: yellow;
    margin-top: 20px;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 30px;
    
}
.col:hover{
    background-color: aqua;
    box-shadow: 0px 0px 25px red;
}
.calculate{
    text-align: center;
    margin-left: -160px;
    margin-top: -50px;
}
.submit{
    margin-left: 300px;
    height: 30px; 
}
.submit:hover{
    border-color: red;
}
.boxsize{
    width: 400px;
    height: 30px;
    margin: 10px;
    text-align: center;
    font-size: 20px;

}
.boxsize:hover{
    border-color: red;
}
.col1{
    margin-left: -250px;
    
}
.col2{
    margin-top: -132px;
    margin-left: -100px;
}
.col3{
    margin-top: 15px;
    margin-left: -100px;
}
.col4{
    margin-top: 2px;
    margin-left: -185px;
    
    
}