<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>People Table</title>
</head>
<body>
<h1><center>input tag</center></h1><center>

  <form action="/submit" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="username" required><br><br>
  
    <label for="email">Email:</label>
    <input type="email" id="email" name="useremail" required><br><br>
  
    <label for="gender">Gender:</label>
    <select id="gender" name="gender">
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select><br><br>
  
    <label for="msg">Message:</label><br>
    <textarea id="msg" name="message" rows="4" cols="30"></textarea><br><br>
  
    <input type="submit" value="Submit">
  </form>
  
</audio>
</center>

</body>
</html>
